@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #02521F;
  --background: #FFFFFF;
  --foreground: #171717;
  --secondary: #04782E;
  --black2: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #171717;
    --black2: #1E1E1E;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
  cursor: pointer;
}