@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #008080;
  --secondaryMenu: #05b3b3;
  --background: #FFFFFF;
  --foreground: #171717;
  --secondary: #0d5c4f;
  --black2: #020202;
  --card: #f2ebeb;
  --copy: #1E1E1E;
}

.dark {
  --primary: #04231d;
  --secondaryMenu: #07332c;
  --background: #121212;
  --foreground: #FFFFFF;
  --secondary: #0d5c4f;
  --black2: #FFFFFFB3;
  --card: #222222;
  --copy: #FFFFFF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryMenu);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
  cursor: pointer;
}